.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.box {
    position: relative;
    padding: 50px 70px;
    border: 1px solid black;
}
p {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 0;
}
#one {
    background-color: rgb(218, 142, 202);
}
#two {
    background-color: bisque;
}
#three {
    background-color: rgb(171, 231, 233);
}
#three p {
    top: 50%;
    margin-top: -10px;
} 